.in3-widget {
    position: relative;
    display: inline-flex;
    padding: 4px 50px 2px 48px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    box-sizing: border-box;
    margin: 10px 0 12px;
    background-color: rgba(39, 67, 131, 0.05);
    border-radius: 20px;
    color: #274383;
    font-family: sans-serif;
    text-align: left;
}

.in3-widget:hover {
    cursor: pointer;
}

.in3-widget i.logo {
    position: absolute;
    content: '';
    width: 37px;
    height: 37px;
    top: 50%;
    margin-top: -23px;
    margin-bottom: initial;
    left: -4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    max-width: initial;
}

.in3-widget i.logo svg {
    width: 19px;
    height: 19px;
}

.in3-widget.light .logo {
    background-color: #33ebc7;
}

.in3-widget.light .logo svg{
    fill: #274383
}

.in3-widget.dark .logo {
    background-color: #274383;

}

.in3-widget.dark .logo svg{
    fill: #33ebc7;
}

.in3-widget p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.3;
    padding: 3px 0 4px;
}

.in3-widget strong {
    font-weight: 700;
}

.in3-widget i.info {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    top: 50%;
    margin-top: -7px;
    right: 19px;
    border-radius: 50%;
    background-color: rgba(39, 67, 131, 0.15);
    display: flex;
    justify-content: center;
    align-items: center
}

.in3-widget i.info:hover {
    cursor: pointer
}

.in3-widget i.info svg {
    width: 8px;
    height: 8px
}

.in3-tooltip {
    display: block;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-out;
    font-style: italic;
    color: #808080;
    line-height: 1.3;
    font-size: 13px;
    border: none;
    padding: 0;
    text-decoration: none
}

.in3-tooltip.show {
    opacity: 100%;
    overflow: auto;
    height: auto;
    margin: 5px 0 7px;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 7px
}

.in3-tooltip a {
    color: #808080;
    text-decoration: none;
}

/** Cart Summary **/
.in3 .in-cart-summary {
    border-radius: 25px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #fff;
}

.in3 .in-cart-summary .in3-widget i.logo {
    left: 0;
}

.in3 .in-cart-summary .in3-widget {
    margin: 3px 0
}
